body {
  background-color: antiquewhite;
}

#screen {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  pointer-events: none;
}

.bar {
  z-index: 999;
  position: relative;
  height: 0;
  width: 80%;
  background-color: aqua;
  border: 0.5px dotted rgb(0, 128, 255);
  top: 100%;
  left: 5%;
}

#ui {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
